/* ---- home page --- */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #226926;
    color: white;
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.logo i {
    font-size: 1.5rem;
    padding-right: 0.3rem;
    padding-left: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-right: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.hero {
    min-height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #226926;
    color: white;
    padding: 50px;
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.hero p {
    font-size: 1.15em;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

.buttons button {
    padding: 15px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.buttons button a{
    text-decoration: none;
}

#btn1 {
    background: #fff;
    color: #226926;
    font-weight: bold;
}

#btn1 a{
    color: #226926;
}

#btn2 {
    background-color: transparent;
    color: #fff;
    border: white 2px solid;
    font-weight: bold;
}

#btn2 a {
    color: #fff;
}

#btn1:hover {
    background-color: #81C784;
    color: #fff;
}

#btn1:hover a {
    color: #fff;
}

#btn2:hover {
    background-color: white;
    color: #226926;
    border-color: white;
}

#btn2:hover a {
    color: #226926;
}

.hero-image img {
    width: 600px;
    border-radius: 10px;
}

/* key features section */

.features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    margin-bottom: 2.7rem;
}

.features h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.card {
    flex: 1;
    min-width: 300px;
    background-color: #f9fafb;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 10px;
}

.icon-container {
    width: 50px;
    height: 50px;
    background-color: #81C784;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: white;
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #111;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

@media (max-width: 768px) {
    .feature-cards {
        flex-direction: column;
    }
}

/* environmental impact section */

.impact {
    text-align: center;
    padding: 50px;
    background: #f9fafb;
    padding-bottom: 5rem;
}

.impact h2 {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}

.impact-metrics {
    display: flex;
    justify-content: center;
    gap: 160px;
    max-width: 1200px;
    margin: 0 auto;
}

.metric {
    flex: 1;
    max-width: 250px;
}

.metric h3 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #2e7d32;
    margin-bottom: 10px;
    line-height: 1;
}

.metric p {
    font-size: 1rem;
    color: #555;
    margin: 0;
}

/* footer section */

footer {
    background-color: #226926;
    color: white;
    text-align: center;
    padding: 15px;
}

footer p {
    margin-top: 15px;
    font-size: 0.9rem;
    opacity: 0.9;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .impact-metrics {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .metric h3 {
        font-size: 3rem;
    }

    .impact {
        padding: 60px 20px;
    }
}

/* ---- retrain page --- */

.predict-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.predict-title {
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    color: #333;
}

.upload-container {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 50px 20px;
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
    background-color: #fff;
}

.upload-icon {
    font-size: 48px;
    color: #999;
    margin-bottom: 15px;
}

.upload-text {
    color: #555;
    margin-bottom: 10px;
}

.upload-link {
    color: #2e7d32;
    text-decoration: none;
    font-weight: bold;
}

.upload-link:hover {
    text-decoration: underline;
}

.supported-formats {
    color: #777;
    font-size: 14px;
    margin-top: 15px;
}

.predict-btn {
    background-color: #2e7d32;
    color: #fff;
    border: none;
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    display: block;
}

.predict-btn a {
    text-decoration: none;
    color: #fff;
}

.predict-btn:hover {
    background-color: #81C784;
    color: #fff;
}

/* ---- visualisation page --- */

canvas {
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}